// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

#home .toolbar-title {
  background-image: url(../assets/logo.png);
  height: 50px;
  background-repeat: no-repeat;
  font-size: 17px;
  padding-left: 50px;
  line-height: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
tr {
  margin: 0.5em;
}
td:nth-child(odd) {
  background: #eeeeff;
}
table.reference td {
  word-break: break-word;
  padding-bottom: 25px;
}
td {
  padding: 6px;
  background-color: #fff;
  border: 1px solid #b9b9b9;
  border-right: 1px dotted #aaa;
}
th {
  width: 25%;
  padding: 6px;
  text-align: left;
  vertical-align: top;
  color: #333;
  background-color: #eee;
  border: 1px solid #b9b9b9;
}
.map {
  width: 90%;
  height: 400px;
  border: 1px solid red;
  margin: 5%;
  position: relative;
}
textarea {
  width: 90%;
  height: 400px;
  margin: 5%;
  position: relative;
  white-space: pre;
  overflow:    scroll;
  background-color: #f0f0f0;
  font-size: 105%;
  line-height: 150%;
  font-family: monospace;
}

.highlight {
  background-color: rgba(0, 0, 0, 0.04);
  font-size: 85%;
  padding: 0.2em;
  border-radius: 3px;
  font-weight: bold;
}

p {
  font-size: 120%;
}
.smallPanel {
  margin: 10px;
  padding: 10px;
  background-color:rgba(255,255,255,0.5);
  z-index: 2 !important;
}

// ion-app.__gmaps_cdv__ .nav-decor {
//   background-color: transparent!important;
//   display: none!important;
// }

// ion-app._gmaps_cdv_ .nav-decor {
//   background-color: transparent!important;
//   display: none!important;
// }

// ion-tab {
//   transform: translateY(-200%);
// }

// ion-tab.show-tab {
//   transform: translateY(0);
// }